:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --font-color: hsl(0 0 90%);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/dalc2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1; 
}

main {
    position: relative;
    z-index: 1;
}

header {
    background-color: hsl(0 0 0 / 0.75);
    box-shadow: 0 0 20px 20px hsl(0 0 0 / 0.75);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 10rem;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li {
    padding: 1rem;
    border-bottom: 4px solid transparent;

    &.active {
        border-color: var(--primary-color);
    }

    &:hover:not(.active) {
        background-color: hsl(0 0 100 / 0.1);
        border-color: var(--secondary-color);
    }
}

nav ul li a {
    color: var(--font-color);
    text-decoration: none;
}

.hero {
    background-color: hsl(0 0 0 / 0.75);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 5px hsl(0 0 0 / 0.75);
    margin: 5rem;
    width: min(700px, 90%, 70vw);
}

.cta-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(var(--primary-color), 10%);
    }
}